body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#legenda {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    z-index: 1000; /* Mantém a legenda acima do mapa */
}

/* Estilo para os marcadores arrastáveis */
.marcador-custom {
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    cursor: grab;
}

.marcador-custom:active {
    cursor: grabbing;
}

.marcador-livre {
    background-color: #2196F3; /* Azul para pontos com Shift */
}